@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #4CAF50; /* Changed to a bolder green */
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68D391;
}